* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #E9FBF2;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
#sideNavtoggle,#notify {
    cursor: pointer;
}
.hidden {
    display: none;
}


/* small nav bar */
.small-aside-container {
    height: 100vh;
    background: #012816;
    position: fixed;
    width: 80px;
}
.small-aside-container .logo {
    text-align: center;
    margin: auto;
    display: block;
    padding: 20px;
}
.small-aside-container .logo img {
    width: 40px;
    height: 40px;
}
.small-aside-user-pic {
    margin: 0 0 20px;
}
.small-aside-user-pic img {
    width: 40px;
    height: 40px;
    margin: auto;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}
.small-span {
    background-color: orange;
    width: 8px;
    height: 8px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    bottom: 15px;
    left: 30px;
}
.small-span span {
    font-size: 4px;
    color: whitesmoke;
    position: absolute;
    top: 1px;
    left: 3px;
    margin: auto;
    display: block;
}
.small-side-list .number-content  {
    text-align: center;  
    margin: auto;
    display: block;  
    align-self: center;
    justify-self: center;
}


/* side nav bar */
.aside-container {
    min-height: 100vh;
    background: #012816;
    position: fixed;
    width: 250px;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 200;
    transition: .3s;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 20px 20px;
}
.logo img {
    width: 100px;
    height: 70px;
}
.logo h1 {
    color: #048f4c;
    font-size: 18px;
    font-weight: 600;
    
}
.aside-user-pic {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 20px 20px;
    color: #A6A6A6;
    font-size: 14px;
    line-height: 1.5;
}
.aside-user-pic img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.side-list {
    flex: 1;
}
.id-content {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 12px;
}
.side-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:15px 20px;
    border-bottom: 1px solid #666666;
    position: relative;
}
.number-content-wrapper {
     display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}
.number-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
.number-content-wrapper .span {
    background-color: orange;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
}
.number-content-wrapper .span span {
    font-size: 12px;
    color: whitesmoke;
}

.side-bar-content ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #bebebe;
}
.side-bar-content.active {
    background-color: #fff;
    color: #A6A6A6;
    width: 100%;
    padding:10px 20px ;
    border-right: 5px solid #048f4c;
}
.side-bar-content.active li a,
.side-bar-content.active .number-content-wrapper .number-content svg path{
    color: #05ab5b;
}
.bottom-side-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* main section */
.main-container {
    margin-left: 250px;
    width: calc(100% - 250px);
    transition: .3s;
}
.small-aside-container.collapsed {
    width: 80px;
}
.main-container.collapsed {
    margin-left: 80px;
    width: calc(100% - 80px);
}
.header {
    width: 100%;
    background-color:#fcfefd;
    padding: 20px;
    box-shadow: 0 6px 10px rgb(211, 211, 211,);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-content input {
    width: 350px;
    padding: 10px 30px;
    border: 1px solid #ececec;
    border-radius: 8px;
}
.search-content input::placeholder {
    color: #A6A6A6;
    font-size: 14px;
}
.search-content input:focus {
    outline: none;
    border: 1px solid #d3d3d3;
}
.search-content {
    position: relative;
}
.search-content #search {
    position: absolute;
    left: 10px;
    top: 10px;
}
.search-content #mic {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.continue-lesson {
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.continue-lesson .svg-wrapper{
    border-right: 1px solid #ccc;
    padding:5px 20px 5px 0;
}
.continue-lesson .svg-wrapper svg {
    display: block;
}
.continue-lesson button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #05ab5b;
    color: whitesmoke;
    cursor: pointer;
    transition: transform .4s;
}
.continue-lesson button:hover {
    transform: scale(1.1);
    background-color: #048f4c;
}

.head-text {
    padding: 20px;
}

.all-card-container {
    width: 100%;
    padding:0 20px 20px;
    max-width: 1400px;
    margin: auto;
  
}
.all-card-wrapper {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.summary-view-wrapper {
    width: 75%;
}

.summary-container {
    background: #fff;
    padding: 20px;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
    width: 100%;
}
.summary-container h2 {
    font-size: 22px;
    margin-bottom: 10px;
}
.summary-card-wrapper {
    display: flex;
    gap: 15px;
    overflow-x: auto;
    scroll-behavior: smooth;
}
.summary-card {
    padding: 20px 40px;
    border: none;
    border-radius: 12px;
    width: 100%;
}
.summary-card p {
    color: #dbdbdb;
    font-size: 10px;
}
.summary-card h1 {
    color: white;
}
.green {
    background-color: #05ab5b;
}
.blue {
    background-color: #2b9ec5;
}
.orange {
    background-color: #f39c12;
}
.red {
    background-color: #ff0000;
    
}

.overview-card {
    background: #fff;
    padding: 20px;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
    margin: 15px 0;
}
.view-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-head h2 {
    font-size: 22px;
}
.view-head span {
    font-size: 12px;
    color: #048f4c;
    background-color: rgb(255, 240, 242);
    border: none;
    border-radius: 12px;
    padding: 2px 6px;
    font-weight: 600;
}

.chart-container {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 300px;
    position: relative;
}
#progressChart {
    width: 100% !important;
    height: 100% !important;
    background: #f5f5f5;
}
.progress-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.progress-content p {
    font-size: 12px;
    color: #818181;
}
/* Progress Circle */
.progress-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
  background: conic-gradient(
    #e5e7eb 0% 24%,   
    #16a34a 24% 100% 
  );
  margin-bottom: 20px;
}
.progress-circle {
  position: relative;
}
.progress-circle::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 85%;
  background: white;
  border-radius: 50%;
}
.progress-circle span {
  position: relative;
  z-index: 1;
}

.student-table {
    background-color: #fff;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
}
.student-table h2 {
    margin-bottom: 15px;
    padding: 20px 20px 0;
}
.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    width: 100%;
}
.search-container .search-content input {
    width: 300px;
}
.status-btn {
    display: flex;
    align-items: center;
}
.status-btn button {
    border-bottom: 2px solid #A6A6A6;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: 600;
    background: none;
    padding: 3px 5px;
}
.status-btn button:nth-child(2) {
      border-bottom: 2px solid #05ab5b;
}

.table-wrapper {
    width: 100%;
}
.table-wrapper table{
    width: 100%;
    text-align: left;
    margin: 15px 0;
    border-collapse: collapse;
    padding:0 20px;
}
.table-wrapper thead {
    width: 100%;
}
.table-wrapper table th {
    background-color: #f1f1f1;
    padding: 10px 20px;
    font-size: 16px;
}

.on-track-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}
.table-wrapper table td {
    padding: 20px 20px;
}
.student-name {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
}
.student-name img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    object-fit: cover;
}
.on-track {
    width: 100%;
    height: 8px;
    background-color: #ccc;
    border: none;
    border-radius: 12px;
    margin-top: 4px;
}
.on-track-progress {
    width: 100%;
    height: 8px;
    background-color: #05ab5b;
    border: none;
    border-radius: 12px;
}
.status-wrapper {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    background: #cce9da;
    border-radius: 30px;
    padding: 8px 4px;
    width:100%;
    text-align: center;
    justify-content: center;
}
.dot-circle {
    width: 8px;
    height: 8px;
    border: none;
    border-radius: 50%;
    background-color: #05ab5b;
}
.status-wrapper span{
    font-size: 16px;
    color: #048f4c;
    font-weight: 500;
}

.pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0 20px 10px;
}
.pagination-left {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.pagination-left svg {
    border: 1px solid #666666;
    border: 1px solid #05ab5b;
    border-radius: 4px;
}
.pagination-content { 
    font-size: 14px;
    color: #666666;
}
.pagination-content span {
    border: 1px solid #05ab5b; 
    background-color: #cce9da;
    padding:2px 6px;
    border-radius: 4px;
}
.pagination-right {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.pagination-right svg {
    border: 1px solid #05ab5b;
    border-radius: 4px;
}

.breakdown-wrapper {
    width: 23%;
}
.breakdown-card {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #A6A6A6;
}
.breakdown-card h2 {
    padding: 20px;
}
.breakdown-card-scroll {
    height: 500px;
    overflow-y: scroll;
    margin-bottom: 20px;
    scroll-behavior: smooth;
}
.module-container {
    padding: 0 20px 20px;
}
.modules {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modules p {
    font-size: 12px;
}
.modules span {
    font-size: 12px;
}
.welcome-course {
    border-left: 1px solid #A6A6A6;
    padding: 0 10px;
    margin: 0 10px;
}

.down-breakdown {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #A6A6A6;
    border-radius: 12px;
    width: 100%;
    margin-top: 20px;
}
.down-breakdown img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.module-chart {
    margin-bottom: 20px;
}
.assignment-score {
    margin-bottom: 20px;
}
.assignment-percent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 5px 0;
}
.activity-wrapper {
    margin-bottom: 20px;
}
.activity p{
    font-size: 14px;
    padding: 5px 0;
}
.instructor-note {
    position: relative;
}
.instructor-note textarea {
    margin-top: 5px;
    width: 100%;
    border: 1px solid #A6A6A6;
    border-radius: 8px;
    resize: none;
    height: 70px;
    padding: 10px;
}
.instructor-note textarea:focus {
    outline: 1px solid #818181;
}
.instructor-note textarea::placeholder {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #A6A6A6;
}
.cta-btn-container {
    background-color: #fff;
    border:1px solid #A6A6A6;
    border-radius: 12px;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.save-preview-btn {
    display: inline-flex;
    gap: 20px;
}
.save-preview-btn button {
    padding: 10px 60px;
    border-radius: 8px;
    border: 1px solid #05ab5b;
    background-color: #cce9da;
    font-weight: 600;
}
.export-message-btn {
    display: inline-flex;
    gap: 20px;
}
.export-message-btn button{
    padding: 10px 40px;
    border-radius: 8px;
    border: none;
    background-color: #05ab5b;
    font-weight: 600;
    color: #fff;
}
.export-message-btn button:hover {
    background-color: #048f4c;
}
.export-message-btn button:nth-child(2) {
    padding: 10px 20px;
}

/* message modal */
.message-modal-wrapper {
    position: absolute;
    background-color: #cce9da;
    padding: 15px;
    width: 350px;
    top: 30px;
    right: -20px;
    border: none;
    border-radius: 12px;
}
.message-modal {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
}
.check-wrapper {
    display: flex;
    align-items:flex-start;
    gap: 15px;
}
.check-wrapper h4 {
    font-size: 14px;
}
.modal-check {
    background-color: #05ab5b;
    width: 16px;
    height: 16px;
}
.view-message a{
    padding: 20px 30px;
    font-size: 14px;
    color: #048f4c;
    text-decoration: underline;
    font-weight: 600;
}





.search-wrapper h2 {
    display: none;
}
#hamburger {
    display:none;
}
.mobile-sidenav {
    background: #012816;
    filter: blur(-10px);
    width: 50%;
    height: 100vh;
    z-index: 999;
    position: fixed;
    display: none;

}
.closenav {
    position: relative;
}
 #closeHamburger {
position:absolute;
right: 20px;
top: 20px;
}

.search-wrapper img,
.mobile-chart-container {
    display: none;
}

@media (max-width: 768px) {
#sideNav,
.chart-container {
    display: none;
}
#hamburger {
display: block;
}

.small-aside-container {
    display: none;
}
.aside-container {
    display: none;
    width: 0;
}

.mobile-sidenav {
    display: block;
    z-index: 100; 
}
.mobile-sidenav.active {
    left: 0;
}

.search-wrapper img {
    display: block;
    width: 20px;
    height: 20px;
}
.main-container {
    width: 100% !important;
    margin-left: 0 !important;
    padding:0 20px;
}
.header {
    background: none;
    padding: 0;
}
.continue-lesson button {
    display: none;
}
.continue-lesson .svg-wrapper {
    border-right: none;
    padding: 20px 0;
}

.search-wrapper .search-content {
    display: none;
}
.search-wrapper h2 {
    display: block;
    font-size: 22px;
}

.all-card-container {
    padding: 0 0 20px;
}
.all-card-wrapper {
    width: 100%;
}
.summary-view-wrapper {
    width:100%;
}
.breakdown-wrapper {
    width: 100%;
}
.summary-container {
    width: 100%;
}
.summary-card-wrapper {
    width: 100%;
} 
.summary-card {
    padding: 20px 60px;
}

.save-preview-btn {
    display: none;
}
.mobile-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.status-btn {
    display: none;
}
.search-container .search-content input {
    width: 350px;
}
.hide-table-mobile {
    display: none;
}

.cta-btn-container {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    justify-content: center;
}
.export-message-btn {
    display: flex;
    width: 100%;
}
.export-message-btn button {
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
.export-message-btn button:first-child {
    background-color: #cce9da;
    border: 1px solid #05ab5b;
    color: #000;
}
}